<html>
<head>
	<link rel="stylesheet" type="text/css" href="./index.css" /> 
	<link type="text/css" rel="stylesheet" href="./articles.css" />
	<script type="text/javascript" src="./articles.js"></script>
</head>
<body>

<h3>Menu</h3>
<nav>
	<ul>
		<li><a href="./">Homepage</a></li>
		<li><a href="./users">Users</a></li>
		<li><a href="./api/users/loggedUser">Logged User</a></li>
		<li><a href="./logout">Logout</a></li>
		<li><a href="mailto:jan.rehak@tieto.com">Contact Us</a></li>
	</ul>
</nav>

	<h1>Articles</h1>
	<hr>

	<table class="article-table">
		<tbody id="article-list"></tbody>
	</table>
	<hr>

	<h2>POST Article</h2>
	<form name="mainForm">
		<table>
			<tr>
				<td>Content:</td>
				<td>
					<textarea rows="4" cols="60" name="content" class="red-border"></textarea>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="OK" class="red-border" /></td>
			</tr>
		</table>
	</form>
	<hr>

	<h2>DELETE Article</h2>
	<form name="mainForm2">
		<table>
			<tr>
				<td>id:</td>
				<td><input type="text" name="id" class="red-border" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="OK" class="red-border" /></td>
			</tr>
		</table>
	</form>
	<hr>

	<h2>EDIT Article</h2>
	<form name="mainForm3">
		<table>
			<tr>
				<td>id:</td>
				<td><input type="text" name="id" class="red-border" /></td>
			</tr>
			<tr>
				<td>content:</td>
				<td>
					<textarea rows="6" cols="60" name="content" class="red-border"></textarea>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="OK" class="red-border" /></td>
			</tr>
		</table>
	</form>
	<hr>






	
</body>
</html>