<html>
<head>
	<link rel="stylesheet" type="text/css" href="./index.css" /> 
	<link type="text/css" rel="stylesheet" href="./users.css" />
	<script type="text/javascript" src="./users.js"></script>
</head>
<body>
	<h1>Users</h1>
	<table class="user-list">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody id="user-table"></tbody>
	</table>


	<h2>MainForm to add user</h2>
	<form name="mainForm">
		<table>
			<tr>
				<td>Jmeno:</td>
				<td><input type="text" name="username" class="red-border" /></td>
			</tr>
			<tr>
				<td>Heslo:</td>
				<td><input type="password" name="password" class="red-border" /></td>
			</tr>
			<tr>
				<td>Role:</td>
				<td>
					<select multiple="multiple" name="roles" id="role-selector"></select>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="OK" class="red-border" /></td>
			</tr>
		</table>
	</form>

	<h2>MainForm to delete user</h2>
	<form name="mainForm2">
		<table>
			<tr>
				<td>id:</td>
				<td><input type="text" name="id" class="red-border" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="OK" class="red-border" /></td>
			</tr>
		</table>
	</form>

	<h2>MainForm to edit user</h2>
	<form name="mainForm3">
		<table>
			<tr>
				<td>id:</td>
				<td><input type="text" name="id" class="red-border" /></td>
			</tr>
			<tr>
				<td>name:</td>
				<td><input type="text" name="name" class="red-border" /></td>
			</tr>
			<tr>
				<td>password:</td>
				<td><input type="text" name="password" class="red-border" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="OK" class="red-border" /></td>
			</tr>
		</table>
	</form>

	<a href="./">HOME</a>
	<a href="./articles">Articles</a>
</body>
</html>